body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

input {
    outline-color: lightgray;
}

.container-carts {
    padding: 0 30px;
}

.carts-list {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}

.wrapper-cart {
    margin: 20px 0;
    padding: 0px 20px 20px 20px;
    border-bottom: 1px lightgray solid;
}

.container-cart {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.container-actions {
    display: flex;
    flex-wrap: nowrap;
}

.container-cart .img {
    height: 100px;
    width: 100px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px 5px #000000;
    box-shadow: 0px 0px 15px 5px #000000;
}

.container-cart .meta {
    margin: 0 auto 0 40px;
    display: flex;
    flex-direction: column;
}

.container-cart .meta p {
    text-align: left;
}

.container-cart .title {
    width: fit-content;
    font-size: 20px;
}

.container-cart .desc {
    font-size: 17px;
    color: rgb(0, 0, 0, 0.5);
    max-width: 80%;
    margin: 15px 0 0 0px;
}

.container-cart .actions, .container-cart .actions * {
    flex-wrap: nowrap;
}

.container-cart .actions>section {
    width: max-content;
}

.container-cart .actions {
    display: flex;
    margin: 0 0 0 auto;
    border-left: 1px lightgray solid;
    padding-left: 32px;
}

.container-cart .actions input {
    outline-color: transparent;
}

.container-cart .actions {
    z-index: 2;
}

.container-cart .actions>section {
    margin: auto 0;
}

.container-cart .price {
    max-width: 40px;
    font-size: 18px;
    color: rgb(0, 0, 0, 0.5);
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border: none;
}

.container-cart .btn {
    height: fit-content;
    width: fit-content;
    background: none;
    border: 1px lightgray solid;
}

.container-cart .btn.add {
    margin-right: 5px;
}

.container-cart .btn.add, .container-cart .btn.remove {
    padding: 5px;
}

.container-cart .btn.delete {
    border: none;
    margin-left: 5px;
}

.container-cart .btn.add img, .container-cart .btn.delete img {
    height: 20px;
    width: 20px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.container__price_delete-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 25px;
}

.container__price_delete-btn>button {
    position: absolute;
    top: 4%;
}

.container__price_delete-btn p {
    margin: auto 0;
    white-space: nowrap;
}

.btn-load-more {
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;
    background: #a206ab;
    color: #fff;
    border-radius: 15px;
    border: none;
}

.container-buy {
    width: fit-content;
    margin: 0 0 0 auto;
    padding: 20px 0;
}

.common-price {
    padding: 5px 10px;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
}

.buy-btn {
    border: 1px grey solid;
    border-radius: 2px;
    padding: 10px 40px;
}

/* SHIPPING */

.container-shipping {
    display: flex;
    flex-wrap: wrap;
}

.container-shipping form {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container-shipping form>section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.container-shipping form>section input, .container-shipping form>section select {
    position: relative;
    margin: 0 0 0 50px;
    min-width: 205px;
    padding: 10px 0;
    border: 1px lightgray solid;
    border-radius: 3px;
    color: grey;
}

.container-shipping form>section input {
    padding: 10px 5px;    
}

.container-shipping form>section select {
    min-width: 216px;
    background: none;
}

.container-shipping form>section .container-email-input {
    position: relative;
    height: fit-content;
    width: fit-content;
}

.container-shipping form>section .container-email-input input {
    outline-color: #00b738;
}

.container-shipping form>section .container-email-input.invalid input {
    outline-color: #d30000;
    border: 1px #d30000 solid;
}

.container-shipping form>section .container-email-input.invalid::after {
    position: absolute;
    content: "Invalid e-mail";
    font-size: 13px;
    bottom: -22px;
    left: 50px;
    z-index: 1;
    color: red;
}

.container-shipping form>section p {
    margin: 0 50px 0 0;
}

.container-shipping form button {
    margin: 0 0 0 auto;
    padding: 5px 20px;
    border-radius: 1px;
}

.container-shipping .price {
    font-size: 18px;
    margin: 10px 0 0 0;
}

.option-free-express-shipping {
    display: none;
}

.option-free-express-shipping.active {
    display: block;
}

.back-to-carts {
    outline: none;
    margin: 15px;
    border: none;
    border-radius: 25px;
    background: #002da7;
    color: #fff;
    height: fit-content;
    padding: 10px 20px;
}

@media (max-width: 745px) {
    .container-cart {
        flex-wrap: wrap;
    }
    .container-cart>img {
        /* grid-area: img; */
    }
    .container-cart .meta {
        grid-area: meta;
        max-width: 70%;
        margin: 0 0 0 20px;
    }
    .container-cart .container-actions {
        margin: 0 0 0 auto;
    }
    .container-cart .container-actions .actions {
        border-left: none;
    }
    .container__price_delete-btn {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .container__price_delete-btn {
        font-size: 20px;
    }
    .container__price_delete-btn .btn.delete {
        position: relative;
        margin: 7px 0 0 15px;
    }
    /* SHIPPING MEDIA */
    .container-shipping form>section input, .container-shipping form>section select {
        min-width: 136px;
        padding: 10px 0;
    }
    .container-shipping form>section p {
        margin: 0 auto 0 0;
    }
}

@media (max-width: 510px) {
    body, 
    .container-shipping,
    .form-shipping {
        height: 100%;
    }
    .container-cart {
        flex-direction: column;
    }
    .container-cart .img, .container-cart .meta {
        margin: 0 auto;
    }
    .container-cart .meta {
        text-align: center;
        max-width: 80%;
        margin: 35px auto;
    }
    .container-cart .meta .title, .container-cart .meta p {
        text-align: center;
        max-width: 100%;
        width: 100%;
        margin: 0;
        margin: 10px 0 0 0;
    }
    .container-shipping .price {
        margin: 5px 0 0 0;
    }
}

@media (max-width: 400px) {
    .container-shipping {
        flex-direction: column;
    }
    .container-shipping .back-to-carts {
        width: fit-content;
    }
    .form-shipping {
        width: 85%;
    }
    .form-shipping > section {
        flex-direction: column;
    }
    .form-shipping > section:last-child {
        margin: 0 0 30px 0;
        flex-direction: row;
    }
    .container-shipping form>section p,
    .container-shipping form>section input, .container-shipping form>section select {
        margin: 5px 0 0 0;
        width: 100%;
        max-width: 100%;
    }
    .container-shipping form>section select {
        margin: 15px 0;
    }
    .container-shipping form>section .container-email-input {
        width: 100%;
    }
}