<template>
  <div class="container-cart">
    <img class="img" src="https://picsum.photos/id/237/200/300" alt="" />
    <section class="meta">
      <p class="title">{{ cart.name }}</p>
      <p class="desc">{{ cart.description }}</p>
    </section>
    <div class="container-actions">
      <div class="actions">
        <section>
          <button @click="countItems--" class="btn remove add">
            <img src="@/assets/remove.svg" alt="" />
          </button>
          <input class="price" type="number" v-model="countItems" />
          <button @click="countItems++" class="btn add">
            <img src="@/assets/plus.svg" alt="" />
          </button>
        </section>
      </div>
      <section class="container__price_delete-btn">
        <button class="btn delete">
          <img src="@/assets/delete.svg" alt="" />
        </button>
        <p>{{ cart.price }} €</p>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  props: ["cart"],
  data() {
    return {
      countItems: 0,
    };
  },
  async created() {
    if (this.cart.count) {
      this.countItems = this.cart.count;
    }
  },
  watch: {
    countItems: function (val) {
      if (val > 50) this.countItems = 50;
      if (val < 0) this.countItems = 0;

      this.$store.dispatch("setNewCart", {
        id: +this.cart.id,
        title: this.cart.name,
        count: this.countItems,
        price: this.cart.price,
      });
    },
  },
  methods: {},
};
</script>