<template>
  <div>
    <section class="carts-list" v-if="carts.length > 0">
      <div class="wrapper-cart" v-for="cart in carts" :key="cart.id">
        <Cart :ref="cart.id" :cart="cart" />
      </div>
      <button class="btn-load-more" v-if="isLoadMore" @click="LoadMore">
        Load More
      </button>
      <section class="container-buy">
        <p class="common-price">{{ commonPrice }} €</p>
        <button @click="$router.push({ path: '/shipping' })" class="buy-btn">
          Buy
        </button>
      </section>
    </section>
  </div>
</template>

<script>
import Cart from "@/components/Cart.vue";
import { mapGetters } from "vuex";
export default {
  components: {
    Cart,
  },
  computed: {
    ...mapGetters({
      isBucketChanged: "getBucketSatus",
      bucket: "getBucket",
      carts: "getCarts",
      isLoadMore: "getLoadMoreStatus",
    }),
  },
  data() {
    return {
      commonPrice: 0,
    };
  },
  async created() {
    await this.get();
    this.parseBucketData();
  },
  watch: {
    isBucketChanged() {
      this.commonPrice = 0;
      for (let [, item] of Object.entries(this.bucket))
        this.commonPrice += item.count ? item.count * +item.price : item.price;
    },
    carts(val) {
      this.parseBucketData();
    },
  },
  methods: {
    parseBucketData() {
      for (let [id, item] of Object.entries(this.bucket)) {
        this.commonPrice += item.count * +item.price;

        //set up choosen items count for every card
        for (let i = 0; i < this.carts.length; i++) {
          if (this.carts[i].id === id) {
            this.carts[i].count = item.count;
          }
        }
      }
    },
    async get() {
      await this.$store.dispatch("getCarts");
    },
    async LoadMore() {
      await this.$store.dispatch("loadMore");
    },
  },
};
</script>