<template>
  <div class="container-shipping">
    <button class="back-to-carts" @click="$router.push({path: '/cart'})"> Back to carts</button>
    <form class="form-shipping">
      <section>
        <p>Name*</p>
        <input
          v-model="name"
          type="text"
          class="name input"
        />
      </section>
      <section>
        <p>Address*</p>
        <input
          v-model="address"
          type="text"
          class="address input"
        />
      </section>
      <section>
        <p>Phone</p>
        <input-mask
          v-model="phone"
          mask="+38\0 99 99 99 99 9"
          maskChar=" "
          @input="validatePhone"
        ></input-mask>
      </section>
      <section>
        <p>Email</p>
        <div
          v-bind:class="{ invalid: !this.isValid.email && this.isEmailEntered }"
          class="container-email-input"
        >
          <input
            type="text"
            v-model="email"
            class="email input"
            @input="validateEmail"
          />
        </div>
      </section>
      <section>
        <p>Shipping options</p>
        <select
          :disabled="isFreeShippingType"
          id="shipping_type"
          v-model="shippingType"
        >
          <option selected :disabled="isFreeShippingType" value="free_shipping">
            FREE SHIPPING
          </option>
          <option :disabled="isFreeShippingType" value="express_shipping">
            Express shipping 9.99€
          </option>
          <option :disabled="isFreeShippingType" value="courier_shipping">
            Courier shipping 19.99€
          </option>
          <option
            class="option-free-express-shipping"
            v-bind:class="{ active: isFreeShippingType }"
            :disabled="isFreeShippingType"
            value="free_express_shipping"
          >
            Free express shipping
          </option>
        </select>
      </section>
      <section>
        <p class="price">Current price: {{ commonPrice }}</p>
        <button :disabled="isPayDisabled">PAY</button>
      </section>
    </form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      isValid: {
        name: false,
        address: false,
        phone: false,
        email: false,
      },
      commonPrice: 0,
      name: "",
      address: "",
      phone: "",
      email: "",
      reg: {
        email: /^[a-zA-Z0-9.!#$%&"*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/,
        phone: /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/,
      },
      shippingType: "free_shipping",
      isFreeShippingType: false,
      isValidFlag: false,
      isPayDisabled: true,
      isEmailEntered: false,
    };
  },
  computed: {
    ...mapGetters({
      isBucketChanged: "getBucketSatus",
      bucket: "getBucket",
    }),
  },
  watch: {
    isBucketChanged() {
      this.CalculateCommonPrice();
    },
    name(val) {
      this.isValid.name = val ? true : false;
      this.isValidFlag = !this.isValidFlag;
    },
    address(val) {
      this.isValid.address = val ? true : false;
      this.isValidFlag = !this.isValidFlag;
    },
    shippingType(val) {
      switch (val) {
        case "express_shipping":
          this.$store.dispatch("setNewCart", {
            id: "shipping",
            price: 9.99,
          });
          break;
        case "courier_shipping":
          this.$store.dispatch("setNewCart", {
            id: "shipping",
            price: 19.99,
          });
          break;
        default:
          this.$store.dispatch("setNewCart", {
            id: "shipping",
            price: 0,
          });
      }
    },
    isValidFlag() {
      let count = 0;
      for (let [, item] of Object.entries(this.isValid)) if (item) count++;

      this.isPayDisabled = count < 4 ? true : false;
    },
  },
  async created() {
    this.CalculateCommonPrice();
  },
  methods: {
    validateEmail() {
      this.isValid.email = this.reg.email.test(this.email);
      this.isEmailEntered = true
      this.isValidFlag = !this.isValidFlag;
    },
    validatePhone() {
      this.isValid.phone = !this.reg.phone.test(this.phone) ? true : false;
      this.isValidFlag = !this.isValidFlag;
    },
    CalculateCommonPrice() {
      this.commonPrice = 0;
      for (let [id, item] of Object.entries(this.bucket))
        this.commonPrice += item.count ? item.count * +item.price : +item.price;

      if (this.commonPrice > 300) {
        this.shippingType = "free_express_shipping";
        this.isFreeShippingType = true;
        
      }
    },
  },
};
</script>